<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="First Suite" verbose="1">
	<test name="example.tests" parallel="true">
		<packages>
			<package name="com.example2.tests.*"></package>
		</packages>
	</test>
	<test name="chrome-specific-tests">
		<classes>
			<class name="com.example2.tests.MultipleBrowserTest">
				<parameter name="browser" value="Chrome"></parameter>
			</class>
		</classes>
	</test>
	<test name="firefox-specific-tests">
		<classes>
			<class name="com.example2.tests.MultipleBrowserTest">
				<parameter name="browser" value="Firefox"></parameter>
			</class>
		</classes>
	</test>
</suite>